table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 4px;
}

th, td {
  padding: 12px 8px;
  text-align: left;
  border: 1px solid #ddd;
}
input[type="number"] {
  width: 70px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
button {
  font-size: 16px;;
  font-weight: bold;
  color: white;
  background-color: #2385d4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 24px;
  width: 100%;
  line-height: 1.5;
  margin-top: 20px;
}
.styled-link {
  font-size: 16px;
  background-color: #4CAF50; 
  font-weight: bold;
  color: white;
  border-radius: 8px;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 12px 24px;
  width: 100%;
  margin-top: 10px;
}
.styled-link:hover {
  background-color:  #45a049; 
}